@tailwind base;
@tailwind components;
@tailwind utilities;


i:hover{
    color: #ff5107;
    cursor: pointer;
}

.card{
    cursor: pointer;
    transition: all 0.3s;
}
  
.card:hover{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    z-index: 1111;
    transform: scale(1.05);
}